<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ES6 App Seed</title>
  </head>
  <body>
  	<%= require('./partials/header.ejs')() %>
    <div id="app"></div>  
 	<%= require('./partials/footer.ejs')() %>
  </body>
</html>
